section {
    display: grid;
    grid-template-columns: 12vw 1fr 12vw;
    grid-template-rows: 1fr;
    grid-gap: 1%;

    background: url('../../../public/image/accueil.jpg') no-repeat;
    background-size: 100% auto;


    overflow: hidden;

    text-align: center;
    width: 100%;
    height: 100%;
}

.mandat {
    display: grid;
    grid-template-columns: 100%;

    margin-top: 0.2vh;
    padding: 1%;

    width: 100%;
    height: 100%;
}

.member * {
    cursor: pointer;
}

.mandat p {
    margin: auto;
    vertical-align: top;

    font-size: 1vw;
}

.mandat div {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
}

.mandat img {
    justify-self: center;
    vertical-align: middle;
    margin: auto;

    height: 90%;
}

#div_accueil {
    z-index: 2;
    grid-row: 1;
    grid-column: 2;

    vertical-align: middle;

    margin: auto;
    color: white;

    font-size: 5.5vw;
    width: 80%;
    height: 100%;
}

#bienvenue {
    margin: 6vmin auto 13vmin auto;
}

#etic {
    font-weight: bold;

    margin: auto;
}


#background {
    grid-row: 1;
    grid-column: 1 / 4;
    background-image: linear-gradient(to right, rgb(0, 83, 96), rgb(155, 202, 139));
    opacity: 0.65;
    z-index: 1;

    width: 100vw;
    height: 100vh;
    margin: auto;
}