section {
    display: grid;
    grid-template-columns: 12vw 1fr 12vw;
    grid-template-rows: 1fr;
    grid-gap: 1%;

    background-size: 100% auto;

    overflow: hidden;

    text-align: center;
    width: 100%;
    height: 100%;
}

.mandat {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(15, 1fr);

    margin-top: 0.2vh;
    padding: 1%;

    width: 100%;
    height: calc(100vh - 9.5vw);
}

#mandat_left {
    background: rgba(0, 83, 96, 0.8);
}

#mandat_right {
    background: rgba(155, 202, 139, 1);
}

.member * {
    cursor: pointer;
}

.mandat p {
    margin: auto;
    vertical-align: top;
    grid-row: 1;
    grid-column: 1;
    color: white;
    display: none;

    font-size: 2vmin;
}

.mandat div {
    display: grid;
    grid-template-columns: 100%;
    width: calc(100% - 2vmin);
    margin: auto;
    height: 100%;
}

.mandat img {
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    justify-self: center;
    vertical-align: middle;
    margin: auto;
    border-radius: 45%;

    height: 90%;
}

.member:hover p {
    display: grid;
    z-index: 1;
}

.member:hover img {
    opacity: 0.4;
}

#div_accueil {
    z-index: 2;
    grid-row: 1;
    grid-column: 2;

    vertical-align: middle;

    margin: auto;

    font-size: 5.5vw;
    width: 80%;
    height: 100%;
}

#bienvenue {
    margin: 6vmin auto 13vmin auto;
}

#etic {
    font-weight: bold;

    margin: auto;
}