section {
    display: grid;
    grid-template-rows: 4.7vw 6.7vw 30vmin 1fr;

    vertical-align: middle;
    justify-self: center;

    margin: 3vmin auto;

    width: 90%;
    height: 80%;
}

section * {
    text-align: center;
    justify-self: center;

    margin: 0 auto;
    font-size: 3vw;
}

#div2 {
    cursor: pointer;
    color: #009e11;
    text-decoration: underline;
}

p {
    margin: auto;
    height: 100%;
}

#div4 {
    cursor: pointer;
    color: #009e11;
    background: white;
    border: 0;
    text-decoration: underline;
    height: 6.7vw;
}

#div5 {
    animation-duration: 2s;

    color: white;

    font-size: 2vw;
    margin: 1vw auto ;
    width: 15vw;
}

@keyframes display {
    0% {color: white;}
    40% {color: black;}
    100% {color: white;}
}