html, body {
    margin: 0;

    width: 100%;
    height: 100%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

body {
    display: grid;
    grid-template-rows: 6.5vw 2.7vw 1fr;
}

header {
    background-image: linear-gradient(to right, #005360, #9BCA8B);

    vertical-align: middle;

    border-bottom: 0.3vh solid black;

    height: 100%;
}

#header_a {
    display: grid;
    grid-template-columns: 12vw 1fr 12vw;

    vertical-align: middle;
    text-decoration: none;

    border-bottom: 0.3vh solid black;

    width: 100%;
    height: 100%;
}

#accueil {
    grid-row: 1;
    grid-column: 1;
    margin: auto 1vw;

    padding: 0;
    font-size: 2vw;
    height: 80%;

}

#accueil:hover {
    cursor: pointer;
    opacity: 0.7;
}

#title {
    color: white;

    text-align: center;
    margin: auto;

    text-transform: uppercase;

    font-size: 5vw;

    width: 100%;
    max-height: 100%;
}

#title:hover {
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 5fr 3vw;

    /*background-color: rgba(43, 44, 43, 0.2);*/
    border-bottom: 0.3vh solid black;

    width: 100%;
    height: 100%;
}

nav * {
    margin: auto 1vw ;

    color: black;
    text-decoration: none;
    font-size: 2.15vw;
    white-space: nowrap;

    height: 90%;
}

nav *:hover {
    /*color: rgba(0, 83, 96, 0.8);*/
    color: rgba(155, 202, 139, 1);
    cursor: pointer;
}

#rechercher {
    text-align: right;
    grid-row: 1;
    grid-column: 2;
}

#connexion, #deconnexion, #profil, #admin {
    grid-row: 1;
    grid-column: 3;
}

#profil, #deconnexion, #admin {
    display: none;
}

#updateCA {
    grid-column: 4;
    grid-row: 1;
}

#help_icon {
    grid-row: 1;
    grid-column: 5;
    vertical-align: middle;

    margin: auto;

    height: 2vw;
    width: 2vw;
}