:root {
    --header-height: 110px;
    --header-width: 100%;
    --nav-height: 50px;
}

html, body {
    margin: 0;

    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 6.5vw 2.5vw 1fr;
}

header {
    display: grid;
    grid-template-columns: 16vw 1fr;

    background-color: #6aa84f;

    vertical-align: middle;

    border-bottom: 1px solid black;

    height: 100%;
}

#accueil {
    grid-row: 1;
    grid-column: 1;
    margin: auto;

    color: white;
    background-color: #274e13;
    border: 3px solid black;

    font-size: 3vw;
    height: 4vw;

    width: 70%;
}

#accueil:hover {
    cursor: pointer;
}

#title {
    grid-row: 1;
    grid-column: 1 / 3;

    color: white;

    text-align: center;
    margin: auto;

    text-transform: uppercase;

    font-size: 5.5vw;

    max-width: 80%;
    max-height: 100%;
}

#title:hover {
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: 6fr 15vw 15vw 5fr 3vw;

    background-color: #38761d;
    border-bottom: 1px solid black;

    width: 100%;
    height: 100%;
}

nav * {
    margin: auto;

    font-size: 1.7vw;

    width: 100%;
    height: 90%;
}

nav *:hover {
    cursor: pointer;
}

#rechercher {
    grid-column: 2;
}

#connexion, #profil, #admin {
    grid-column: 3;
}

#profil, #admin {
    display: none;
}

#help_icon {
    grid-column: 5;
    vertical-align: middle;

    margin: auto;

    height: 2vw;
    width: 2vw;
}