#profil {
    display: grid;
}

#connexion {
    display: none;
}

#image_form {
    height: 0;
}

#form_area {
    display: grid;
    grid-row: 3;
    grid-column: 1;
}

#info_area {
    display: grid;/*
    grid-column: 1;
    grid-row: 1 / 5;*/

    margin: auto;
    animation-name: display;
    animation-delay: 2s;

    width: 40%;
    height: 100%;
}

#info_area p {
    text-align: center;
    justify-self: center;
    vertical-align: middle;
    margin: auto;

    animation-name: display;
    animation-delay: 2s;

    color: #009e11;
    font-size: 1.8vw;

    height: 100%;
}

#profil_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr) 8vh;

    justify-self: center;
    vertical-align: middle;
    border: 3px solid black;
    margin: auto;

    width: 60%;
    height: 68vh;
}

#profil_form * {
    width: 85%;
}

#profil_form input[type="text"] {
    border: 2px solid black;
    font-size: 3vh;
    padding-left: 1vh;
    height: 5vh;
}

#profil_form p, input[type="text"]{
    justify-self: center;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

.p_info {
    font-size: 3.7vh;
    margin: auto auto 0 auto;

    height: 4.7vh;
}

#image {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 5;

    margin: auto auto 0 auto;
}

#image {
    width: 22vh;
    height: 22vh;
}

#image img {
    width: 100%;
    height: 100%;
}

#logo {
    margin: auto;

    vertical-align: middle;
    justify-self: center;

    height: 100%;
}

#button {
    display: grid;
    justify-self: right;
}

#connect_input {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    color: white;
    background-color: #009e0f;

    margin: auto;

    font-size: 1.7vw;
    border: 3px solid black;

    height: 60%;
    width: 15vw;
}
#fenetre{
    display: none;
    background-color: #B6D7A8;
    border: 3px black solid;
    position:absolute;
    left: 50%;
    top: 60%;
    width: 400px;
    height: 450px;
    margin-left: -225px;
    margin-top: -225px;

    text-align: center;
}

