#deconnexion {
    display: grid;
}

#connexion {
    display: none;
}

#image_form {
    height: 0;
}

section {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
    vertical-align: middle;
    margin: auto;
}

#form_area {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#info_area {
    display: grid;

    z-index:1;
    margin: auto;
    background-color: white;

    width: 40%;
    height: 100%;
}

#info_area p {
    text-align: center;
    justify-self: center;
    vertical-align: middle;

    z-index:1;
    color: #009e11;

    margin: auto;
    font-size: 4vmin;
}

.needed:after {
    content: "*";
    color: red;
}

#profil_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr) 10vmin;

    background-color: white;

    justify-self: center;
    vertical-align: middle;
    border: 3px solid black;
    margin: 5vmin auto;
    padding: 1vw;

    width: 90%;
    height: 68vmin;
}

#position_form {
    width: 80%;
    height: 69.5vmin;
    margin: 5vmin auto;
    display: grid;
    grid-template-rows: 8vmin 1fr 10vmin;
    justify-self: center;
    vertical-align: middle;
    border: 3px solid black;
    padding: 0.5vw;
}

#position_form h1 {
    margin: auto;
    font-size: 2.5vw;
    text-align: center;
}

#positions {
    height: 90%;
    padding: 5% 0;
}

#add_position {
    width: 90%;
    height: 60%;
    font-size: 1.7vw;
    margin: auto;
}


.position_container {
    height: 9vmin;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 4vmin 1fr;
    border: 0.3vmin solid black;
    padding: 0.5vmin;
    margin: 1vmin auto;
}

.position_container * {
    margin: auto 0.4vmin;
}

.position_container p {
    font-size: 3.5vmin;
}

.position_container input[type='text'] {
    width: 70%;
    justify-self: left;
    font-size: 2.5vmin;
}

.position_container img {
    width: 80%;
    grid-row: 1 / 3;
    grid-column: 3;
    vertical-align: middle;
}

@media (orientation: portrait)
{
    #profil_form {
        min-width: 90vw;
    }
}

#profil_form * {
    width: 85%;
}

#profil_form input[type="text"] {
    border: 2px solid black;
    font-size: 3vmin;
    padding-left: 1vmin;
    height: 5vmin;
}

#profil_form p, input[type="text"] {
    justify-self: center;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

.p_info {
    font-size: 3.7vmin;
    margin: auto auto 0 auto;

    height: 4.7vmin;
}

#image {
    display: grid;

    margin: auto auto 0 auto;
    background-color: white;
    z-index: 2;

    animation-duration: 2s;

    width: 100%;
    height: 22vmin;
}

#image img {
    justify-self: center;
    vertical-align: middle;
    margin: auto;
    width: 22vmin;
    height: 22vmin;
}

@keyframes hideImg {
    0% {z-index: 2;}
    10% {z-index: 0;}
    90% {z-index: 0;}
    100% {z-index:2;}
}

img {
    cursor: pointer;
}

#logo {
    margin: auto;

    vertical-align: middle;
    justify-self: center;

    height: 100%;
}

.div_button {
    display: grid;
    justify-self: center;
    margin: auto auto 0.5vmin auto;
    height: 80%;
}

.input_button {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    margin: auto;

    font-size: 1.7vw;
    border: 3px solid black;

    height: 70%;
}

#update_input {
    color: white;
    background-color: #009e0f;
}

#password_input {
    color: black;
    background: #dddddd;
}

.input_button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.window {
    z-index: 3;
    border: 0.6vmin solid black;
    background-color: #b6d7a8;

    padding: 2vmin;
    width: 40vmin;
}

#image_window {
    display: none;
    height: 20vmin;
}

#image_form {
    display: grid;;
    grid-template-rows: 1fr 10vmin 7vmin;
    height: 100%;
}

#image2{
    height: 0;
}

#icone {
    text-align: center;
    justify-self: center;
    vertical-align: middle;
    margin: auto;

    font-size: 2vmin;
    width: 90%;
}

#input_image_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#input_image_div input{
    justify-self: center;
    vertical-align: middle;
    margin: auto;

    font-size: 3.5vmin;
    width: 90%;
    height: 80%;
}

#password_window {
    display: none;
}

#password_form {
    display: grid;
    grid-template-rows: 1fr repeat(6, 6vmin) 6vmin 7vmin;
}

#password_form * {
    justify-self: center;
    vertical-align: middle;
    margin: auto;
    width: 90%;
    height: 90%;
}

#password_form p {
    vertical-align: bottom;
    margin: auto auto 0 auto;
    font-size: 3vmin;
    height: 3.5vmin;
}

#password_form a {
    text-align: center;
    vertical-align: middle;
    justify-self: center;
    margin: auto;
    text-decoration: none;
    color: #009e0f;
    font-size: 3vmin;
    height: 3.5vmin
}

#password_form a:hover {
    text-decoration: underline;
}

#password_form input {
    font-size: 3vmin;
}

#password_info {
    color: red;
}

#input_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#input_div input {
    height: 5.5vmin;
}

.cancel_input {
    color: white;
    background-color: red;
    border: 0.2vmin solid black;
}

.validate_input {
    color: white;
    background: green;
    border: 0.2vmin solid black;
}

input[type="button"]:hover,
input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.8;
    border: 0.4vmin solid black;
}
