#search_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 42vh 35vh;
    grid-gap: 2%;

    justify-self: center;
    vertical-align: middle;

    margin: auto;

    height: 78vh;
    width: 95%;
}

#search_area {
    display: grid;

    background-color: #b6d7a8;

    margin: auto;

    border: 0.45vh solid black;
    border-radius: 4vw;
    padding: 1%;

    width: 90%;
    height: 95%;
}

#info_area {
    grid-column: 2;
    grid-row: 1;

    display: grid;

    background-color: white;
    color: black;

    margin: auto;

    width: 100%;
    height: 95%;
}

#response_area {
    grid-column: 1 / 3;
    grid-row: 2;

    margin: auto;
    overflow: hidden;

    width: 90%;
    height: 90%;
}

#search_form {
    display: grid;
    grid-template-columns: 10vw 1fr;
    grid-gap: 2%;

    vertical-align: middle;
    margin: auto;

    width: 90%;
    height: 90%;
}

#search_form * {
    vertical-align: middle;
    justify-self: left;

    margin: auto;

    width: 100%;
}

#search_form input[type="text"] {
    font-size: 1.5vw;
    height: 3vw;

    width: 100%;
}

#search_form p {
    text-align: left;

    font-size: 2vw;
}

#search_input {
    grid-column: 1 / 3;

    justify-self: right;

    font-size: 1.5vw;
    margin-right: 3%;

    width: 45%;
    height: 100%;
}

@media (orientation: landscape)
{
    #info {
        width: 54vh;
    }

    #info {
        grid-gap: 1vh;
    }

    #nom_prenom {
        font-size: 3.65vh;
    }

    #tel {
        font-size: 3.4vh;
    }

    #coordonnes {
        font-size: 3.4vh;
    }

    #photo_membre {
        width: 15vh;
        height: 15vh;
    }
}

@media (orientation: portrait)
{
    #info {
        grid-gap: 1vw;
    }

    #nom_prenom {
        font-size: 3.5vw;
    }

    #tel {
        font-size: 3vw;
    }

    #coordonnes {
        font-size: 3vw;
    }

    #photo_membre {
        width: 15vw;
        height: 15vw;
    }
}

#info_area p {
    text-align: center;
    margin: auto;
}

#p_info {
    font-size: 2.5vw;
}

#info {
    display: grid;
    grid-template-columns: 20vh 1fr;

    background-color: white;

    margin: auto;
    vertical-align: middle;
    text-align: center;

    border: 0.6vh solid black;

    padding: 1vw;

    font-size: 35px;
    height: 92%;
}


#photo_membre {
    grid-row: 1 / 3;
    justify-self: right;
}

#nom_prenom {
    font-weight: bolder;
}

.right {
    grid-column: 2;
    justify-self: right;
}


#coordonnes {
    grid-column: 1 / 3;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    margin: auto;

    width: 100%;
    height: 100%;
}

thead, tbody {
    display: block;
    width: 100%;
}

thead {
    background-color: #4CAF50;
}

tbody {
    overflow-y: auto;
    overflow-x: hidden;

    height: 26.1vh;
}

td, th {
    border-bottom: 0.2vh solid black;
    border-left: 0.2vh solid black;

    font-size: 1.5vw;
    padding: 0 0.5vw;

    width: 20vw;
}

td {
    cursor: pointer;
}

tr {
    background-color: white;

    height: 5vh;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    color: white;
    background-color: #4CAF50;

    text-align: left;
}